.div-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.form input {
    padding: 20px 12px;
    width: 634px;
    background-color: #454558;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
}

.form input::placeholder {
    color: #8A8A8A;
    font-weight: 500;
    font-size: 14px;
}

.form button {
    border: none;
    background-color: #454558;
    border-radius: 4px;
    margin-left: -46px;
}

.form button:hover {
    cursor: pointer;
}